<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Social Dice</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item  {% if active_button == "index" %} active {% endif %}">

                <a class="nav-link " href="/">Home</a>
            </li>
            <li class="nav-item  {% if active_button == "stories" %} active {% endif %}">
                <a class="nav-link" href="/stories">Stories</a>
            </li>
            <li class="nav-item  {% if active_button == "users" %} active {% endif %}">
                <a class="nav-link" href="/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wall">Profile</a>
            </li>
            <li class="nav-item  {% if active_button == "followers" %} active {% endif %}">
                <a class="nav-link" href="/followers/list">My followers</a>
            </li>


            <li class="nav-item">
                <div class="dropdown">
                    <button class="nav-link active btn dropdown-toggle" type="button" id="FilterStoryButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter Stories
                    </button>
                    <div class="dropdown-menu" aria-labelledby="FilterStoryButton">
                        <a class="dropdown-item" href="/stories/filter">Time Intervals</a>
                    </div>
                </div>
            </li>

            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout" tabindex="-1" aria-disabled="true">Logout</a>
                </li>
            {% else %}
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/stories/random">
                    Random Story
                </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="get" action="/search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search_text">
            <button class="btn btn-outline-primary my-2 my-sm-0 bg-light" type="submit">Search</button>
        </form>


    </div>
</nav>