{% extends "layout.html" %}
{% block content %}
<h5>You've got:</h5>
{% for face in roll%}
<li>
    "{{face}}"
</li>
{% endfor %}

  <form action="http://127.0.0.1:5000/stories" method="POST">
    {{ form.hidden_tag() }}
    <div style="display:none">
        <input type="hidden" name="roll" value="{{ roll }}">{{ roll }}
    </div>
     {% for field in form.display %}
     <div class="form-group">
            <label for="text" >Type your story: </label>
            <br>
            {{ form[field]() }}
     </div>
     <br>
     {% endfor %}
     <br>
    <input type=submit value="Publish">
  </form>

{% endblock %}