<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/stories.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <title>Stories</title>
</head>

<body>

  <div class="container">

    {% include "includes/nav.html" %}

    {% block content %}

    <div class="container">
      {{ message|safe }}
    </div>

    <ul class="feed">
      {% for story, user, cannot_follow, method in stories %}
      <li class="story-container">
        <div class="author inline">
          <div class="name">{{user.firstname}} {{user.lastname}}</div>
          <div class="follow {{cannot_follow}} inline">
            <form method="POST" action="/{{method}}/{{user.id}}">
              <button type="submit">
                <i class="fa {{method}}"></i>
              </button>
            </form>
          </div>
        </div>
        <a class="story" href="{{details_url}}/{{story.id}}">
          {{story.text}}
        </a>
        <div class="inline">
          <div class="like">
            {{story.likes}}
            <a href="{{like_it_url}}/{{story.id}}/1">
              <i class="far fa-thumbs-up"></i>
            </a>
          </div>
          <div class="dislike">
            {{story.dislikes}}
            <a href="{{like_it_url}}/{{story.id}}/2">
              <i class="far fa-thumbs-down"></i>
            </a>
          </div>
            {% if id == story.author_id %}
                 <a href="#myModal{{ story.id }}" class="trigger-btn" data-toggle="modal">Delete story</a>
                        <div id="myModal{{ story.id }}" class="modal fade">
                            <div class="modal-dialog modal-confirm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete story</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Do you really want to delete this story? This process cannot be undone.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                                        <div class="remove_story inline">
                                            <form method="POST" action="/stories/{{ story.id }}/remove/stories">
                                                <button type="submit" class="btn btn-info">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>

    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">New story</button>

    <!-- The Modal -->
    <div class="modal" id="myModal">

      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Create your story!</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            Roll the dice and let your immagination run wild!

            <form id="rollForm" action="http://127.0.0.1:5000/rolldice" method="GET">
              {{ form.hidden_tag() }}
              <br>
              {% for field in form.display %}
              <div class="form-group ">
                {{ form[field].label }}
                {{ form[field]() }}
              </div>
              <br>
              {% endfor %}
              <br>
              <button type="button" id="rollButton">Roll the dice!</button>
            </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>

    </div>
  </div>
  </div>
  {% endblock %}
  </div>
</body>

<script>
  $(document).ready(() => {
    $("#rollButton").on('click', function () {
      $("#rollForm").attr('action', $("#rollForm").attr('action') + "/" + $('#dicenumber').val() + "/" + $('#dicesetid').val());
      $("#rollForm").submit();
    });
  })
</script>

</html>