{% extends "layout.html" %}
{% block title %}
    Story detail
{% endblock %}

{% block content %}

    <div class="card text-center">
        <a href="/stories">
            <div class="card-header text-left">
                <i class="material-icons align-middle">
                    keyboard_backspace
                </i>
                <span class="align-middle">
                  Feed
              </span>
            </div>
        </a>
        <div class="card-body">
            <h5 class="card-title text-left">
                <i class="material-icons align-middle">
                    person
                </i>
                <span class="align-middle story_detail-author_info">
                    {{ story.author.firstname }} {{ story.author.lastname }}
                </span>
            </h5>
            <div class="card-text text-left">

                <p class="story_detail-text">{{ story.text }}</p>
                <br>
                <br>
                <span class="story_detail-datetime">
                    {{ story.date.strftime('%H:%m') }} &#xB7 {{ story.date.strftime('%h %d %Y') }}
                </span>
            </div>

            <div class="story_detail-faces">
                <span>Story based on the dices: </span>
                {% for face in story.roll['dice'] %}
                    <span class="face"> {{ face.title() }} </span>
                {% endfor %}
            </div>


            <div class="story_detail-reactions text-left">

                {% if story.likes > 0 %}
                    <a href="/story/{{ story.id }}/reaction/1-like">
                        <span class="align-middle">{{ story.likes }}</span>
                        <i class="material-icons align-middle likes">
                            thumb_up
                        </i>
                    </a>

                {% endif %}

                {% if story.dislikes > 0 %}
                    <a href="/story/{{ story.id }}/reaction/2-dislike">
                        <span class="align-middle">{{ story.dislikes }}</span>
                        <i class="material-icons align-middle dislikes">
                            thumb_down
                        </i>
                    </a>
                {% endif %}

            </div>

        </div>
    </div>
{% endblock %}