<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stories.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <title>Stories</title>
</head>

<body>

  <div class="container">

    {% include "includes/nav.html" %}

    {% block content %}
      <div class="container">
        {{ message|safe }}
      </div>
      {% if info_bar == true %}
      {% if error == true %}
        <div class="container">
            <div class="row h-25"></div>
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-danger" role="alert">{{ res_msg }}</div>
                </div>
            </div>
        </div>
      {% else %}
        <div class="container">
            <div class="row h-25"></div>
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-success" role="alert">{{ res_msg }}</div>
                </div>
            </div>
        </div>
      {% endif %}
      {% endif %}

        This is {{ user.firstname }}'s Wall!!!
    <br><br>
    Talk with the author: {{ user.email }}
    <br><br>
    Some stats:
    <table>
        <tr>
            <th>ALL Likes : </th><td>{{ stats.likes }}</td>
        </tr>
        <tr>
            <th>ALL DisLikes : </th><td>{{ stats.dislikes }}</td>
        </tr>
        <tr>
            <th>ALL Dice Thrown : </th><td>{{ stats.numDice }}</td>
        </tr>
        <tr>
            <th>AVG Likes : </th><td>{{ stats.avgLike }}</td>
        </tr>
        <tr>
            <th>AVG DisLikes : </th><td>{{ stats.avgDislike }}</td>
        </tr>
        <tr>
            <th>AVG Dice Thrown : </th><td>{{ stats.avgDice }}</td>
        </tr>
        <tr>
            <th>Ratio Like/Dislike : </th><td>{{ stats.ratio_likeDislike }}</td>
        </tr>
        <tr>
            <th>Readers Love-Level <3 : </th><td>{{ stats.love_level }}</td>
        </tr>


    </table>



    <br><br><br>
    <h2>All of {{ stats.numStories }} {{ user.firstname }}'s Stories</h2>
    ... have you time to read all this stories?!
    <br><br>

     {% include "story_list.html" %}


  </div>
  </div>
  {% endblock %}
  </div>
</body>

<script>
  $(document).ready(() => {
    $("#rollButton").on('click', function () {
      $("#rollForm").attr('action', $("#rollForm").attr('action') + "/" + $('#dicenumber').val() + "/" + $('#dicesetid').val());
      $("#rollForm").submit();
    });
  })
</script>

</html>