{% extends "layout.html" %}
{% block title %}
    Wall
{% endblock %}

{% block content %}
<h1>The Wall</h1>

{% if current_user.is_authenticated %}

    This is {{ user.firstname }}'s Wall!!!
    <br>
    Talk with the author: {{ user.email }}
    <br>


    <h2>{{ user.firstname }}'s Stories</h2>
    {% for story in stories%}
      <div>
        <li>
          {{story.text}} <br>
            <button type="button" class="btn btn-primary"> Likes:{{story.likes}} </button>
            --
            <button type="button" class="btn btn-danger"> Dislikes:{{story.dislikes}} </button>
        </li>
      <br>
      </div>
    {% endfor %}


{% else %}
  Hi Anonymous, <a href="/login">Log in</a>
{% endif %}

{% endblock %}